h1{
    margin-top: 120px;
    font-weight: lighter;
   
    font-size: xx-large;
}
span{
    color:rgb(103, 2, 154);
}
p.info{
    margin-top: 20px;
   
    color: rgb(255, 255, 255);
    font-size: larger;
    padding: 6px;
    align-items: center;
}
/* Home.css */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    
  }
  
  .text-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .text-container h1 {
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  .text-container h1 span {
    color: #612493; /* Change to your desired highlight color */
  }
  
  .info {
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.5;
  }
  
  .info span {
    color: #612493 ; /* Change to your desired highlight color */
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .student-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .skills{
    color: #ffffff;
    margin-top: 50px;

  }

  .icont{
    width: 170px;
    height: 130px;
    background-color: transparent;
    border-color: #d7a9fd;
    border: 1px solid; /* Initial border */
    transition: border-color 0.3s ease; /* Smooth transition */
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
  }
  .icon:hover{
    border-color: #f0f0f0; /* Shiny border color on hover */
    box-shadow: 0 0 10px #f0f0f0; /* Optional: add a subtle shadow */
  }

  table{
    margin-top: 40px;
    border-color:  #d7a9fd ;
    border-spacing: 10px; 
    
  }
  h1.skill{
    margin-top: 120px;
    font-weight: lighter;
   margin-left: 290px;
    font-size: xx-large;
  }
  
  