.head{
    margin-right: 90px;
    font-weight: 500;
}
.con{
    color: rgb(135, 101, 179);
    font-size: larger;
}
.Btnn {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #7b44da;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
  }
  
  .Btnn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btnn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
  }

  .BG2 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #a775ff;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
  }
  
  .Btnn:hover .BG2 {
    transform: rotate(35deg);
    transform-origin: bottom;
  }

  .BG3 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #ccafff;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
  }
  
  .Btnn:hover .BG3 {
    transform: rotate(35deg);
    transform-origin: bottom;
  }

  
  