h1{
   margin-left: 90px;
    color: white;
    font-size: 50px;
}
h2{
    margin-left: 90px;
    font-size: 40px;
    color: white;
}
span.ani2{
    color:rgb(103, 2, 154);
}
.home-container {
    display: flex;
    align-items: center; /* Align items vertically */
    padding: 20px;
  }
  
  .content {
    flex: 1;
  }
  
  .image-container {
    margin-left: 10px; /* Adds space between the text and the image */
  }
  
  .student-image {
    margin-top: 60px;
    max-width: 380px;
    height: auto;
    background: transparent; /* Ensures the background is transparent */
  }
  footer {
    background-color: #0c011a;
    color: white;
    text-align: center;
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  /* Importing Google font - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


h2.ani {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

h2.ani span {
    color: #BD53ED;
    position: relative;
}

h2.ani span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #BD53ED;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

h2.ani span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% { opacity: 0 }
}

p.he{
  margin-top: 220px;
  font-size: xx-large;
  color: #fff;
  margin-left: 220px;
}
p.hee{
  margin-top: 100px;
  font-size: xx-large;
  color: #fff;
  text-align: center;
}
  
p.be{
  font-size: larger;
  color: #fff;
  margin-left: 100px;
  margin-top: 25px;
}
p.bee{
  font-size: larger;
  color: #fff;
  margin-left: 100px;
  margin-top: 60px;
}

p.co{
  text-align: center;
  font-size: large;
  color: #fff;
  margin-top: 10px;
}

.button-icon {
  margin-top: 50px;
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin-left: 510px;
}

.icon {
  background-color: #fff;
  padding: 10px 10px 5px 10px;
}

.icon svg {
  width: 25px;
  height: 25px;
}

.cube {
  transition: all 0.4s;
  transform-style: preserve-3d;
  width: 200px;
  height: 20px;
}

.button-icon:hover {
  border-color: #959595;
}

.button-icon:hover .cube {
  transform: rotateX(90deg);
}

.side {
  position: absolute;
  height: 47px;
  width: 200px;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.top {
  background: #0e002d;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
  background: #222229;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}

.top2 {
  background: #09012c;
  color: #fff;
  transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front2 {
  background: #0061b5;
  color: #fff;
  transform: translate3d(0, 0, 1em);
}
.button-icon2 {
  margin-top: 10px;
  display: flex;
  border: 3px #fff solid;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  margin-left: 510px;
}
.button-icon2:hover {
  border-color: #959595;
}

.button-icon2:hover .cube {
  transform: rotateX(90deg);
}


  
