body {
  font-family: Arial, sans-serif;
  background: url('./components/bg.jpg');
  background-size: cover; /* Make sure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Make the background image fixed when scrolling */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

